* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  /* Body styles */
  body {
    font-family: gotu;
  }
  
  /* Navigation styles */
  nav {
    background-color: #d8ceb9;
    height: 80px;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
  }
  
  a:active, a:hover {
    color: #c63a3a;
  }
  
  /* Check button styles */
  .checkbtn {
    font-size: 30px;
    color: rgb(0, 0, 0);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  
  
  #check {
    display: none;
  }
  
  /* Label styles */
  label.logo {
    color: rgb(0, 0, 0);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
  }
  
  /* Logo styles */
  .logo {
    display: block;
    justify-content: center;
    width: 110px;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -100%);
    position: absolute;
    z-index: 10;
  }
  /* Responsive styles for iPhone 12 Pro */
  @media (max-width: 390px) {
    
    label.logo {
        font-size: 30px;
    }
    .menu {
        background: #f9f3e3
        ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    nav ul li {
        line-height: 0;
        display:block;
    }
  }
  
  /* Responsive styles for iPad with burger menu */
  @media (max-width: 820px) {
    
    .checkbtn {
        display: block;
    }
  
    .menu {
        position: fixed;
        width: 100%;
        background: #f9f3e3
        ;
        top: 80px;
        left: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    nav ul li {
        display: block;
        margin: 50px 0;
    }
  
    .menu {
        left: 100%;
        transition: all 0.5s;
    }
  
    #check:checked ~ .menu {
        left: 0;
        display: block;
    }
  }
  
  
  /* Additional styles for larger screens */
  @media (max-width: 925px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
  
    nav ul li a {
        font-size: 16px;
    }
  }
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  /* Fjerner punktform*/
  ul{
    list-style: none;
  }
  
  /*Fixed Footer*/
  .footer{
    background-color: #d5ccb7;
    padding-top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  /*Placering af de tre sektioner*/
  .footer-col{
    width: 25%;
    padding: 0px;
    text-align: center;
    flex-grow: 2;
  }
  
  /*Styling af de tre overskrifter*/
  .footer-col h4{
    font-size: 20px;
    color:black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
  }
  
  .footer-col ul li a{
    color:black;
    text-decoration: none;
  }
  
  /*Styling ikoner*/
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #c63a3a;
  }
  
  /**/
  .footer-col h4::before{
    content: '';
    left: 10px;
    bottom: -6px;
    background-color: #c63a3a;
    height: 2px;
    width: 40px;
  }
  
  ul li:not(:last-child){
    margin-bottom: 8px;
  }
  
  /*Ikonerne skifter farver*/
  .footer-col .social-links a:hover{
    color: #fff;
  }
  
  /*Copyright info*/
  .footer-copyright{
    background-color: #f8f3e2;
    color: black;
    padding: 3px;
    margin-top: 30px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  
  /*Responsive*/
  @media(max-width: 390px){
    .footer-col {
        width: 100%;
        margin-bottom: 10px;
        display: block;
  }
  
  }
  
  @media(max-width: 820px){
    .footer-col {
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }
   
  }
  
  @media(max-width:925px){
    .footer-col{
        width: 100%;
        margin-bottom: 10px;
        display: block;
    }
  }
  
  
    